body {
    background-color: #eae6d1;
    font-family: sans-serif;
}
canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: default;
}
canvas.pixelated {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
div#sqSpinner {
    position: absolute;
    margin: auto; top: 0; left: 0; bottom: 0; right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 5px #F90;
    display: none;
    transform: rotate(30deg);
}
div#sqSpinner > div {
    position: absolute;
    top: 45px;
    left: 5px;
    width: 90px; 
    height: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px #F90;
}
