body {
    background-color: #eae6d1;
    font-family: sans-serif;
}
canvas {
    position: absolute;
    background: #000;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
label {
    padding-right: 3em;
}
div#sqHeader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border-bottom: 6px double gray;
}
div#sqFooter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    border-top: 6px double gray;
}
